<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script>
        function refreshPage()
        {
            window.location.reload(true);
        }
    </script>
    <title>Tainted Cain Explorer</title>
</head>
<body>
    <div class="corner-div corner-additional">
        <div>
            <button id="pause">Pause</button>
            <button id="resume">Resume</button>
        </div>
        <div id="morebutton"></div>
        <div id="send"></div>
        <div id="stats"></div>
        A lot of code is taken from <a href="https://github.com/frto027/IsaacDisassemblyRate" target="_blank">this repository</a>
    </div>
    <div class="page-main">
        <h1>Tainted Cain Recipes</h1>
        <input id="search" class="searchbar" placeholder="Insert item name or id...">

        <div id="output">
        </div>

        <div id="modal" class="modal-dialog">
            <div class="modal-container">
                <p class="text-error">Error ocured during fetch</p>
            </div>
        </div>
    </div>
</body>
<script type="module" src="{{url_for('static', filename='app.js')}}"></script>
</html>