body {
    font-family: Lato, sans-serif;
    background-color: #404040;
    color: #eee;
}
a {
    color:rgb(44, 99, 202);
}
.bofsym{
    transform: scale(2);
    margin: 8px;
    image-rendering: pixelated;
}
.misc { 
    position: fixed;
    right: 0px;
}
.recipe {
    margin-bottom: 40px;
}
.note {
    font-size: 20px;
}
.clickable {
    color: rgb(44, 99, 202);
    cursor: pointer;
}
.bofsym_0{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -0px -0px;
}
.bofsym_1{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -128px -0px;
}
.bofsym_2{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -256px -0px;
}
.bofsym_3{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -384px -0px;
}
.bofsym_4{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -512px -0px;
}
.bofsym_5{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -640px -0px;
}
.bofsym_6{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -768px -0px;
}
.bofsym_7{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -896px -0px;
}
.bofsym_8{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -0px -128px;
}
.bofsym_9{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -128px -128px;
}
.bofsym_10{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -256px -128px;
}
.bofsym_11{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -384px -128px;
}
.bofsym_12{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -512px -128px;
}
.bofsym_13{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -640px -128px;
}
.bofsym_14{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -768px -128px;
}
.bofsym_15{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -896px -128px;
}
.bofsym_16{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -0px -256px;
}
.bofsym_17{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -128px -256px;
}
.bofsym_18{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -256px -256px;
}
.bofsym_19{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -384px -256px;
}
.bofsym_20{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -512px -256px;
}
.bofsym_21{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -640px -256px;
}
.bofsym_22{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -768px -256px;
}
.bofsym_23{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -896px -256px;
}
.bofsym_24{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -0px -384px;
}
.bofsym_25{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -128px -384px;
}
.bofsym_26{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -256px -384px;
}
.bofsym_27{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -384px -384px;
}
.bofsym_28{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -512px -384px;
}
.bofsym_29{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -640px -384px;
}
.bofsym_30{
    width: 128px;
    height: 128px;
    background: url("/static/ui_crafting.png") -768px -384px;
}
.grid {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 200px minmax(500px, auto) auto;
    grid-template-areas: 
      'main rightbar'
      'footer footer';
    column-gap: 20px;
    row-gap: 20px;
}
.page-header {
    grid-area: header;
    text-align: center;
    grid-row: 200px;
}
.page-rightbar {
    grid-area: rightbar;
    background-color: #e44d4d;
    height: 100%;
}
.page-main {
    grid-area: main;
    text-align: center;
}
.page-footer {
    grid-area: footer;
}
.modal-dialog {
    display: none;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
.modal-container {
    width: 568px;
    padding: 5px 10px;
    background-color: #404040;
    box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
    font-size: 24px;
    font-weight: 400;
}
.text-error {
    color: red;
}
.text-success {
    color: green;
}
.item {
    margin-bottom: 100px;
}
.searchbar {
    padding: 6px;
    font-size: 18px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: groove;
    border-radius: 14px;
    box-shadow: 0px 0px 11px rgba(66,66,66,.94);
    margin-bottom: 2%;
}
.bot {
    position: fixed;
    bottom: 0;
}
.searchbar:focus {
    outline:none;
}